@font-face {
  font-family: 'Bebas';
  src: url('font/Bebas-Regular.ttf') format('truetype'); /* Ajustez le format selon votre fichier */
}



body{
 
  font-family: Arial, sans-serif;
  background-image: url('https://preview.redd.it/d1ian5x20y551.jpg?width=1664&format=pjpg&auto=webp&s=e2f08ea1813094006289e6205e5eb5785384269b');
  

  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.output {
  display : flex;
  justify-content: center;
  align-items: center;
  direction: row;
  height: 20vh;
  

}
.output-true {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: row;
  font-size: 10px;
  color: black;
  text-align: center;
  margin: 20px auto;
  width : 120px;
  height: 120px;
  background-color: green;
  border-color: black;
  border-radius: 0%;
  border :#000000 2px solid;

  
}

.output-false {
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: row;
  font-size: 10px;
  color: black;
  text-align: center;
  margin: 20px auto;
  width : 120px;
  height: 120px;
  background-color: red;
  border-color: black;
  border-radius: 0%;
  border :#000000 2px solid;

  
}

.wordle-game {
  text-align: center;
  margin: 20px auto;
  width: 85%;
  background-color: gray;
  
  
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

/* Style pour le conteneur de la liste de vidéos */
#video-list {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  max-width: 250px;
  overflow-y: auto;
  margin-top: 10px;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: white; /* Optionnel : ajoute un fond pour la visibilité */
  position: absolute; /* Positionnement absolu */
  top: 60px; /* Ajustez selon la hauteur de votre input */
  left: 47%; /* Centrage horizontal */
  transform: translateX(-50%); /* Centrage horizontal */
  z-index: 1; /* Assurez que l'élément est au-dessus des autres */
}


/* Style pour chaque élément de la liste de vidéos */
#video-list div {
  margin-bottom: 10px;
}

/* Style pour les liens de vidéos */
#video-list a {
  display: block;
  text-decoration: none;
  color: black; /* Couleur du lien */
  padding: 5px 0;
}

#video-list a:hover {
  text-decoration: underline;
}



input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #3e8e41;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}


h1 {
  font-family: 'Bebas';
  font-size: 70px;
  /*centre le titre*/
  text-align: center;
  /*ajoute une ombre au titre*/
  text-shadow: 2px 2px 4px #000000;
  /*ajoute une couleur au titre*/
  color: white;
  background-attachment: fixed;



}
