



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Buttons</title>
  <link rel="stylesheet" href="../../static/main/newstyles.css ">
</head>

<body>
  <h1>Wankidle</h1>
  <div class="wordle-game">
   
    <p>Entrez le nom d'une vidéo:</p>
    <input type="text" id="guess" placeholder="Enter guess here">
    <button id="submit-btn">Submit</button>
    
    <ul id="guess-list"></ul>
  </div>
</body>
</html>
